@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media (max-width: 768px) {

*{
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.navbar{
    flex-direction: column;

}

.navbar_items {
  display: none;  
}

.navbar_link{
    text-align: center;
    justify-content: space-evenly;
    padding: 10px;    margin: 0;
}

.navbar_items_right{
    margin-left: 0;
}

.navbar_link_toggle{
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    padding-inline: 25px;
}
.navbar_toggleShow {
    display: flex;
    padding: 10px;
}

}