@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media (max-width: 768px) {

*{
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.navbar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_items {
  display: none;  
  flex-direction: column;

}

.navbar_link{
    text-align: center;
    margin: 0;
}

.navbar_items_right{
    margin-left: 0;
    margin-top: 10px;
    font-size: 0.75;
}

#burguer-menu{
    align-self: flex-end;
    display: initial;
    cursor: pointer;
}

#burguer-menu.active{
    transform: rotate(90deg);
    transition: 0.5s;
}

.navbar_toggleShow.active {
    right: 0;

}
.navbar_toggleShow {
    display: flex;
    transition: right 0.5s;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 100%;
    height: 100vh;
    width: 40vh;
    background-color: #2d3250; 
    border-radius: 0px 0px 20px 0px;
    color: white;
}


.navbar_toggleShow .navbar_link {
    padding: 20px;
    text-align: left; 
    border-bottom: 0.5px solid #676f9dbe; 
}
}