@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@media (max-width: 768px) {

*{
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.navbar{
    flex-direction: column;
}

.navbar_items {
  display: none;  
  flex-direction: column;

}

.navbar_link{
    text-align: center;
    margin: 0;
}

.navbar_link:hover{
    background-color: #010925; 
}

.navbar_items_right{
    margin-left: 0;
    margin-top: 10px;
}

.navbar_link_toggle{
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
}


.navbar_toggleShow {
    display: block;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 23vh;
    background-color: #020f3cd7; 
    border-radius: 30px 20px;
    font-size: 16px;
    color: white;

}


.navbar_toggleShow .navbar_link {
    padding: 20px;
    text-align: left; 
    border-bottom: 0.5px solid #3d4972e1; 
}
}