<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/web/navbar.css">
    <link rel="stylesheet" href="/assets/styles/mobile/navbar.css">
    <title>SafeBag</title>
</head>
<body>
  <script src="https://kit.fontawesome.com/267c55b2ea.js" crossorigin="anonymous"></script>

    <div class="navbar">
        <div class="navbar_link-brand">
          SafeBag
        </div>
        <div class="navbar_link_toggle" id="burguer-menu">
          <i class="fas fa-bars"></i>
        </div>    
        <nav class="navbar_items navbar_toggleShow">
          <a href="../pages/main.html">
        <div class="navbar_link">
          Todos Alertas
        </div>
        </a>

        <a href="../pages/recent_alerts.html">
        <div class="navbar_link">
          Alertas Recentes
        </div>
        </a> 
        <div class="navbar_link">
          Cadastro de Bagagem
        </div>

        <a id="logoutBtn" href="#">
          <div class="navbar_link">
            Sair
          </div>
          </a> 
    </nav>
  </div>

  
  <script src="/assets/js/navbar.js"></script>
  <script type="module" src="../../firebase/logout.js"></script>

</body>
</html>