@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #020f3e;
  padding: 16px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.navbar_items{
  display: flex;

}
  
.navbar_link{
  padding-inline: 20px;
}

.navbar_items_right {
  margin-left: auto;
}

.navbar_link-brand{
  font-size: 25px;

}