@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;

  
}


.navbar {
  display: flex;
  align-items: center;
  background-color: #2d3250;
  padding: 0.80rem;
  padding-inline: 1.25rem;
  font-weight: 700;
  font-size: 0.875rem;

}

a {
  text-decoration: none;
}

.navbar_items{
  display: flex;
  margin-left: auto;
  gap: 10px;
  text-transform: uppercase;

}
  
.navbar_link{
  padding: 10px;
  cursor: pointer;
  color: #ffffff;

}

.navbar_link:hover{
  color: #f9b17a;

}

.navbar_link-brand{
  font-size: 25px;
  color: #fff;

}

.navbar_link_toggle{
  display: none;
}